*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    color: #fff !important;
    text-decoration: none !important;
}

.bd{
    background-color: #212431;
}

.border-5{
    border: 8px solid;
}

#MContainer ,#MContainerWrap{
    min-width: 300px;
    max-width: 300px;
    background-color: #040B14;
    overflow-y: auto;
}

.navbar button{
    border: none;
    outline: none;
    margin: 8px 0;
}

.navbar .burger{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #343A40;
    border-radius: 100%; 
}

.navbar .burger .bar{
    position: relative;
    top: 2px;
    width: 32px;
    height: 3px;
    background: crimson;
    margin-bottom: 6px;
    transition: all .2s ease-in-out;
}

.burger:not(.show) .bar{
    height: 1px !important;
    margin-bottom: 0 !important;
    top: 0 !important;
}

#CContainerWrap{
    max-width: 300px;
    min-width: 300px;
    position: absolute;
}

.position{
    position: initial;
}

#CContainer section{
    margin-bottom: 8%;
}

#MContainer i{
    font-size: 16px;
    transition: all .3s ease-in-out;
}

#MContainer a:hover i{
    color: crimson;
    transform: scale(1.09);
}

.MContainerFooter{
    font-size: 15px;
}

#Home{
    
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    position: relative;
}

#Home h3{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
}

span.s{
    display: inline;
    color: crimson;
}

#Home > div{
    height: 100vh;
    background: rgba(0, 0, 0, .7);
}

.typedHome{
    border-bottom: 1px solid crimson;
    font-size: 110%;
    padding-bottom: 4px;
}

.collapsing{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: none;
}

.sectionTitle{
    padding-top: 20px;
    font-size: 150%;
    font-weight: 500;
}

.sectionTitle::after{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 9px;
    background: crimson;
    margin-bottom: 9px;
}

.aboutItem{
    margin-bottom: 20px;
    display: block;
}

.percent{
    position: relative;
    line-height: 1;
    font-size: 40px;
    font-weight: 600;
    z-index: 2;
}

.percent::after{
    content: attr(data-after);
    font-size: 20px;
}

.box .chart{
    position: relative;
    width: 140px;
    margin: 0 auto;
    text-align: center;
    line-height: 150px;
}

.box canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.box h5{
    text-align: center;
    text-transform: uppercase;
}

.resumeItem{
    border-left: 3px solid black;
    padding-left: 20px;
    margin-top: 20px;
}

.resumeItem *{
    position: relative;
    top: -18px;
}

.resumeItem::before,.innerResumeItem::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: white;
    display: block;
    position: relative;
    left: -29px;
    border: 2px solid black;
}

.info, .form{
    margin: 100%;
    padding: 20px 30px;
    margin: 20px auto;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.12);
}

.infoItem{
    margin-bottom: 13px;
}

.infoItem i{
    font-size: 25px;
    color: crimson;
    margin-top: 3px;
    transition: all .3s ease-in-out;
}

.infoItem span:first-child{
    width: 55px;
    height: 55px;
    background: #DFF3FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.infoItem h4{
    display: inline-block;
    padding-left: 20px;
    margin-top: 15px;
}

.infoItem p{
    padding-left: 20px;
    font-size: 14px;
    color: #173b6c;
}

.infoItem:hover span:first-child{
    background: crimson;
}

.infoItem:hover span i{
    color: white;
}

.top{
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: crimson;
    opacity: .8;
    width: 42px;
    height: 42px;
    z-index: 2;
    color: #fff !important;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    display:none;
}

footer{
    background-color: #040B14;   
}

.footer{
    opacity: 0;
    display: none;
}